<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>william.cdb</display-name>
	<servlet>
		<servlet-name>ServletMain</servlet-name>
		<servlet-class>com.excilys.servlet.ServletMain</servlet-class>
	</servlet>
	<!-- <servlet-mapping>
		<servlet-name>ServletMain</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping> -->
	<welcome-file-list>
		<welcome-file>dashboard</welcome-file>
	</welcome-file-list>
</web-app>